<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .wrapper{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            background-color: plum;
        }
    </style>
</head>
<body>
<div class="wrapper">
    <div>
        <label>Id:</label>
        <p>{{user.id}}</p>
    </div>
    <div>
        <label>Name:</label>
        <p>{{user.name}}</p>
    </div>
    <div>
        <label>Surname:</label>
        <p>{{user.surname}}</p>
    </div>
    <div>
        <label>Age:</label>
        <p>{{user.age}}</p>
    </div>
    <div>
        <label>City:</label>
        <p>{{user.city}}</p>
    </div>

</div>

</body>
</html>